@{
  Layout = "_Layout";
}

@model PierresTreats.Models.Flavor

<h4>Add new flavor</h4>

@using(Html.BeginForm())
{
  @Html.Label("Flavor description")
  @Html.TextBoxFor(model => model.Description, new { @class = "form-control", required="required"})

  @Html.Label("Mark if savory")
  @Html.EditorFor(model => model.IsSavory, new { @required="required"}) <br/>

  @Html.Label("Mark if sweet")
  @Html.EditorFor(model => model.IsSweet, new { @required="required"})

  <input type="submit" value="Add" class="btn btn-default" required="true" />
}

<hr />
<ul>
  <li>@Html.ActionLink("Home","Index","Home")</li>
  <li>@Html.ActionLink("Back to all flavors", "Index")</li>
</ul>