@{
  Layout = "_Layout";
}

@model PierresTreats.Models.Flavor
@using PierresTreats.Models
@using System.Security.Claims

<h1>Flavor details</h1>
<h3>@Html.DisplayFor(model => model.Description)</h3>

@if (Model.IsSavory)
{
  <p class="savory">Savory</p>
}
@if (Model.IsSweet)
{
  <p class="sweet">Sweet</p>
}

<p>List of treats available with this flavor:</p>
@if (Model.JoinEntities.Count == 0)
{
  <li>There are no treats of this flavor.</li>
}
@foreach(FlavorTreat join in Model.JoinEntities)
{
  @join.Treat.Name
}

@if (User.Identity.IsAuthenticated)
{
<ul>
  <li>@Html.ActionLink("Edit flavor details","Edit", new {id = Model.FlavorId })</li>
  <li>@Html.ActionLink("Delete this flavor","Delete", new {id = Model.FlavorId })</li>
  <li>@Html.ActionLink("Back to all flavors","Index")</li>
  <li>@Html.ActionLink("Employee Home Page", "Index", "Account")</li>
</ul>
}

<hr />
<ul>
  <li>@Html.ActionLink("Home","Index","Home")
</ul>